body {
    background-image: url("/images/HalloweenBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-family: 'Irish Grover', Helvetica , Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(43, 43, 43);
    margin: 0px;
    padding: 0px;
}

nav {
    display:flex;
}

nav h1 {
    flex: 1;
}
nav ul {
    display: flex;
    /* margin: 10px 30px 30px 30px; */
    flex:2;
    justify-content: space-around;
    justify-items: left;
    height: 100%;
    align-items: center;
}
nav ul li {
    flex:1;
    list-style: none;
    text-align: center;
}

button {
    background-color: #FF8A00;
    color: black;
    border: none;
    border-radius: 20%;
    padding: 10px
}

.feature-box {
    /* display: flex; */
    background-color: #6F0000;
    border-radius: 15px;
    /* height: 350px; */
    margin: 5% 10%;
    padding: 20px;
}

.text-with-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    align-items: center;
}




a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ticket-box {
    display: flex;
    background-color: gray;
    align-items: center;
    width: 100%;
}
.ticket-teller {
    background-color:tomato;
}
.flexbox-item
{
    flex:1;
}