body {
    background-image: url("/images/HalloweenBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-family: Irish Grover, Helvetica , Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(43, 43, 43);
    margin: 0px;
    padding: 0px;
}

nav {
    
}

button {
    background-color: #FF8A00;
    color: black;
    border: none;
    border-radius: 20%;
    padding: 10px
}

.feature-box {
    display: flex;
    background-color: #6F0000;
    border-radius: 15px;
    height: 350px;
    margin: 5% 10%;
    padding: 20px;
}

.feature-box div {
    margin: auto;
    padding: 20px;
}

nav ul li {
    display: inline-block;
    margin: 10px 30px 30px 30px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}